<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xs-2 col-md-3 sidebar">
      <div class="brand m-x-1">
        <a href="/#/">
          <i class="fa fa-headphones"></i>
          <span class="hidden-xs hidden-sm m-r-1">Headbanger</span>
        </a>
      </div>

      <nav class="p-l-1">
        <div class="section-head">Discover</div>
        <ul>
          <li ui-sref-active="active">
            <a ui-sref="app.whats-new">
              <i class="fa fa-fw fa-line-chart m-r-1"></i> <span class="hidden-xs hidden-sm">What's new</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.by-genre">
              <i class="fa fa-fw fa-music m-r-1"></i> <span class="hidden-xs hidden-sm">By genre</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.by-country">
              <i class="fa fa-fw fa-globe m-r-1"></i> <span class="hidden-xs hidden-sm">By country</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.by-label">
              <i class="fa fa-fw fa-tag m-r-1"></i> <span class="hidden-xs hidden-sm">By record label</span>
            </a>
          </li>
        </ul>
        <div class="section-head">Account</div>
        <ul>
          <li ui-sref-active="active">
            <a ui-sref="app.my-account">
              <i class="fa fa-fw fa-user m-r-1"></i> <span class="hidden-xs hidden-sm">My account</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.preferences">
              <i class="fa fa-fw fa-gear m-r-1"></i> <span class="hidden-xs hidden-sm">Preferences</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="signout">
              <i class="fa fa-fw fa-sign-out m-r-1"></i> <span class="hidden-xs hidden-sm">Sign out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Main content -->
    <div class="col-xs-10 col-md-9">
      <!-- Search bar -->
      <div class="searchbar">
        <div class="left search">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Search for artists or albums" />
        </div>

        <div class="right btn-group">
          <a href="javascript:void(0);" data-target="#" data-toggle="dropdown">
            {{ user.name || user.email }} <i class="fa fa-caret-down m-l-1"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a ui-sref="app.my-account">My Account</a></li>
            <li><a ui-sref="app.preferences">Preferences</a></li>
            <li class="divider"></li>
            <li><a ui-sref="signout">Sign out</a></li>
          </ul>
        </div>
      </div>

      <main ui-view>
      </main>
    </div>
  </div>
</div>
