<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xs-2 sidebar">
      <div class="brand m-x-1">
        <a href="/#/">
          <i class="fa fa-headphones brand-logo"></i>
          <span class="brand-text">Headbanger</span>
        </a>
      </div>

      <nav class="p-l-1">
        <div class="section-head">discover</div>
        <ul>
          <li ui-sref-active="active">
            <a ui-sref="app.whats-new">
              <i class="fa fa-fw fa-clock-o"></i> <span class="hidden-xs hidden-sm">What's new</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.trending">
              <i class="fa fa-fw fa-fire"></i> <span class="hidden-xs hidden-sm">Trending</span>
            </a>
          </li>
        </ul>

        <div class="section-head">explore</div>
        <ul>
          <li ui-sref-active="active">
            <a ui-sref="app.by-genre">
              <i class="fa fa-fw fa-headphones"></i> <span class="hidden-xs hidden-sm">By genre</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.by-country">
              <i class="fa fa-fw fa-globe"></i> <span class="hidden-xs hidden-sm">By country</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.by-label">
              <i class="fa fa-fw fa-tag"></i> <span class="hidden-xs hidden-sm">By record label</span>
            </a>
          </li>
        </ul>

        <div class="section-head">me, myself and i</div>
        <ul>
          <li ui-sref-active="active">
            <a ui-sref="app.my-likes">
              <i class="fa fa-fw fa-heart"></i> <span class="hidden-xs hidden-sm">My likes</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Main content -->
    <div class="col-xs-10">
      <!-- Search bar -->
      <div class="searchbar" ng-class="{ 'inverse': $scope.params.banner }">
        <div class="left search">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Search for artists or albums" />
        </div>

        <div class="right btn-group dropdown">
          <a href="javascript:void(0);" data-toggle="dropdown">
            {{ user.name || user.email }} <i class="fa fa-caret-down fa-spacing"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a ui-sref="app.my-account">My Account</a></li>
            <li><a ui-sref="app.preferences">Preferences</a></li>
            <li class="divider"></li>
            <li><a ui-sref="signout">Sign out</a></li>
          </ul>
        </div>
      </div>

      <main ui-view>
      </main>
    </div>
  </div>
</div>
