<footer class="footer">
  <div class="container">
    <a href="https://florian.dejonckhee.re">
      <span class="text-muted">Made with <i class="fa fa-heart liked"></i> in Belgium</span>
    </a>
  </div>
</footer>
