<h1>New releases</h1>

<div class="block-list">
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Twilight Force</a>
    </div>
    <div class="block-description">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
  </div>
</div>
