# Docker compose name prefix
COMPOSE_PROJECT_NAME=headbanger

# Generate a secret using `rake secret`
SECRET_KEY_BASE=mysecretkeybase

# Database (only in production)
POSTGRES_HOST=/var/run/postgresql
POSTGRES_DB=headbanger
POSTGRES_USER=headbanger
POSTGRES_PASS=headbanger

# Redis (only in production)
REDIS_URL=redis://redis:6379

# Musicbrainz database
MUSICBRAINZ_HOST=/var/run/postgresql
MUSICBRAINZ_DB=musicbrainz
MUSICBRAINZ_USER=musicbrainz
MUSICBRAINZ_PASS=musicbrainz

# Mailer
MAILER_DEFAULT_HOST=localhost   # defaults to 'localhost'
MAILER_DEFAULT_PORT=8080        # defaults to '80'
MAILER_DEFAULT_PROTO=http       # defaults to 'http'
MAILER_SENDER=myapp@mydomain.com
MAILER_HOST=mydomain.com
MAILER_PORT=587
MAILER_DOMAIN=mydomain.com
MAILER_USER=myapp@mydomain.com
MAILER_PASS=myapp
MAILER_AUTH=plain
MAILER_STARTTLS=true

# Mailer exceptions (only in production)
MAILER_EXCEPTION_SENDER=myapp@mydomain.com
MAILER_EXCEPTION_RECIPIENT=admin@mydomain.com

# Neo4j
NEO4J_HOST=neo4j
NEO4J_PORT=7474
## Neo4j credentials for application (same as neo4j.env)
NEO4J_USER=neo4j
NEO4J_PASS=password
