<%= link_to user_facebook_omniauth_authorize_path, :class => 'btn btn-block btn-social btn-facebook' do %>
  <span class="fa fa-facebook"></span>
  Connect with Facebook
<% end %>
<%= link_to user_google_oauth2_omniauth_authorize_path, :class => 'btn btn-block btn-social btn-google' do %>
  <span class="fa fa-google"></span>
  Connect with Google
<% end %>
<%= link_to user_twitter_omniauth_authorize_path, :class => 'btn btn-block btn-social btn-twitter' do %>
  <span class="fa fa-twitter"></span>
  Connect with Twitter
<% end %>
