/**
 * app.scss - App stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$block-size: 150px;

main {
  padding: 0 $spacing-lg;
}

.block-list {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  .block {
    width: $block-size;
    min-height: $block-size;

    margin-bottom: $spacing-lg;

    .block-image {
      max-width: $block-size;
      max-height: $block-size;
    }

    .block-image-wrapper {
      position: relative;

      .block-image-overlay {
        @include transition;

        position: absolute;
        top: 0;

        background: rgba(0, 0, 0, .3);

        opacity: 0;

        width: 100%;
        height: 100%;
      }

      .block-image-actions {
        @include transition;

        position: absolute;

        padding: $spacing-sm $spacing-md;

        font-size: $text-lg;

        bottom: 0;
        right: 0;

        .not-liked {
          color: white;
          opacity: 0;
        }

        .liked {
          color: #EB0000;
        }
      }

      &:hover {
        .not-liked { opacity: 1; }
        .block-image-overlay { opacity: 1; }
      }
    }

    .block-title {
      @include link-color(black, underline);

      padding-top: $spacing-lg;
      font-weight: bold;

      overflow: hidden;
      text-wrap: ellipsis;
      white-space: nowrap;
    }

    .block-description {
      @include link-color(black, underline);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
