/**
 * content.scss - content stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$matrix-cell-size: 200px;

$color-heart: #E60005;

.content {
  @extend .p-a-2;
  @extend .m-b-3;

  background: white;

  border-radius: $border-radius;
}

.matrix {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  .matrix-cell {

    background: white;

    width: $matrix-cell-size;
    min-height: $matrix-cell-size;

    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;

    border-bottom: 5px solid darken(white, 12%);

    .matrix-cell-image {
      max-width: $matrix-cell-size;
      max-height: $matrix-cell-size;
    }

    .matrix-cell-image-wrapper {
      position: relative;

      .matrix-cell-image-overlay {
        @include transition;

        position: absolute;
        top: 0;

        background: rgba(0, 0, 0, .3);

        opacity: 0;

        width: 100%;
        height: 100%;
      }

      .matrix-cell-image-actions {
        @include transition;

        position: absolute;

        padding: .5rem 1rem;

        font-size: 1.5em;

        bottom: 0;
        right: 0;

        .matrix-cell-rating {
          @include transition;
          color: white;
          opacity: 0;
        }

        .liked,
        .matrix-cell-rating:hover {
          color: $color-heart;
        }
      }

      &:hover {
        .matrix-cell-rating,
        .matrix-cell-image-overlay { opacity: 1; }
      }
    }

    .matrix-cell-title {
      @include link-color(black, underline);

      padding-top: 1rem;
      padding-left: .5rem;
      padding-left: .5rem;
      font-weight: bold;


      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .matrix-cell-description {
      @include link-color($color-primary-text, underline);

      padding-bottom: 1rem;
      padding-left: .5rem;
      padding-left: .5rem;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
