/**
 * landing.scss - Landing stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$color-border-inactive: #8c8881;
$color-border-active: #b4b0a9;

.container-landing {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

header {
  background-size: cover;
  background-image: image-url('landing');
  background-attachment: fixed;
}

.brand-landing {
  color: white;

  font-family: 'Grand Hotel';
  font-size: 2.5em;
}

.heading {
  height: 700px;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  h1 {
    text-transform: uppercase;
  }
}

#mce-embedded-email {
  width: 300px;

  background: transparent;

  border: 1px solid $color-border-inactive;
  color: $color-border-active;

  &:focus {
    border: 1px solid $color-border-active;
  }
}

#mc-embedded-subscribe {
  background: transparent;
  color: $color-border-active;

  border: 1px solid $color-border-inactive;

  &:focus {
    background: $color-border-active;
    color: lighten($color-border-active, 20%);
  }
}

.features-box {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  .features-box-icon {
    font-size: 6rem;
    line-height: 6rem;

    color: #2f2f2f;
  }

  h3 {
    height: 4rem;

    margin-top: 2rem;
  }
}

.footer-landing {
  width: 100%;
  height: 60px;
  line-height: 60px;

  text-align: center;

  font-family: 'Lato', sans-serif;
  font-weight: 200;

  background-size: cover;
  background-image: image-url('landing');
  background-position: center;

  @include link-color(white);
}
