/**
 * landing.scss - Landing stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

header {
  background-size: cover;
  background-image: image-url('landing');
}

.navbar-brand {
  font-family: 'Grand Hotel';

  font-size: 2em;
}

.heading {
  height: 700px;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

h1 {
  text-transform: uppercase;
}

#mce-EMAIL {
  width: 300px;

  background: transparent;

  border: 1px solid #686c6f;
  color: #a1a5a8;

  &:focus {
    border: 1px solid #b6babd;
  }
}
