/**
 * landing.scss - Landing stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.landing {
  nav {
    @extend .clearfix;

    ul {
      list-style: none;
      padding: 0;

      float: right;

      li {
        display: inline-block;
      }
    }
  }
}
