/**
 * queue.scss - Queue stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.queue-empty {
  width: 100%;
  margin-top: 20rem;

  text-align: center;

  color: darken($color-background, 15%);
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  font-weight: lighter;

  .queue-icon {
    margin-bottom: 2rem;
    font-size: 2em;
    text-shadow: 0px 1px 1px lighten($color-background, 15%);
    //text-shadow: -1px -1px 0px $color-queue-empty, 1px 1px 0px lighten($color-queue-empty, 20%);
  }
}
