/**
 * session.scss - Devise views stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.background-shade {
  position: fixed;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;

    background-size: cover;
    background-image: image-url('wallpaper-shade');
    background-repeat: no-repeat;
    background-position: fixed;

    z-index: 1;
  }

  .shade {
    width: 100%;
    height: 100%;
    position: absolute;

    background: black;
    opacity: .6;

    z-index: 2;
  }
}

.signin-card {
  .card-title {
    font-family: 'Roboto';
    font-weight: 300;
  }
}

.signin-container {
  position: relative;

  .header {
    @include link-color(white, none);
    color: white;

    background-color: $color-primary;

    text-align: center;

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    margin-bottom: 6rem;

    .logo {
      padding: 1rem 2rem;

      font-family: 'Roboto Slab';
      font-weight: 700;

      font-size: 1.25rem;

      white-space: nowrap;
    }
  }

  .btn {
    @include media-breakpoint-down(lg) {
      margin-top: 1rem;

      width: 100%;
    }
  }
}
