/**
 * session.scss - Session stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.container-session {
  background-color: $secondary-color;
  color: white;

  padding: $spacing-lg;

  text-align: justify;

  overflow: auto;

  .wrapper-session {
    min-height: calc(100vh - #{2 * $spacing-lg});

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="submit"],
  input[type="button"],
  .btn {
    padding: $spacing-md;

    width: 25rem;

    border: 0;
    border-radius: $border-radius;
    background-color: white;

    color: $secondary-text-color;
    font-size: 13px;
    font-family: 'Sans', sans-serif;

    &.btn-link {
      background-color: transparent;
      color: white;
    }
  }

  .logo {
    margin-bottom: $spacing-lg;

    font-size: $text-xxl;
    color: white;
  }

  .alert-signin {
    display: block;

    padding: 0 $spacing-sm;

    color: white;
  }

  form {
    margin-top: $spacing-md;

    & > * {
      display: block;
      margin-bottom: $spacing-md;
    }
  }
}
