<div class="container">
  <div class="col-xs-12 col-md-6">
    <h1>Headbanger</h1>
  </div>
</div>

<%= link_to t(:sign_up), app_path << '/#/signup', :class => 'btn btn-secondary' %>

<%= link_to t(:sign_in), app_path << '/#/signin' %>
<%= link_to t(:home), "//#{ActionMailer::Base.default_url_options[:host]}" %>
