<% content_for :title do %>Reset password<% end %>

<div class="card-block">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to new_session_path(resource_name), :class => 'nav-link' do %>
        &laquo; Back
      <% end %>
    </li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="card-block">
    If you have forgotten your password, you may request to reset it using the email address you registered with.
  </div>

  <div class="card-block">
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-at"></i>
      <%= f.email_field :email,
                        :placeholder => 'Email',
                        :autofocus => true,
                        :required => true,
                        :class => 'form-control' %>
    </div>
  </div>

  <div class="card-block">
    <%= f.submit 'Send me password reset instructions', :class => 'btn btn-primary' %>
  </div>
<% end %>
