<!DOCTYPE html>
<html>
<head>
  <title>Graph</title>
  <%= stylesheet_link_tag    "graph/application", media: "all" %>
  <%= javascript_include_tag "graph/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
