default: &default
  name: MyApp
  version: 0.1.0
  contact: myapp@mydomain.com

development: &development
  <<: *default
  name: MyApp-dev

test:
  <<: *development

staging:
  <<: *development

production:
  <<: *default
