.hb-main {
  position: relative;

  z-index: 1;

  /* Space for footer */
  padding-bottom: 100px;

  background: white;

  border-left: 1px solid darken(white, 10%);
  border-right: 1px solid darken(white, 10%);
}
