<% content_for :title do %>Discover<% end %>

<% content_for 'poster' do %>
  <div class="poster">
    <h1 class="poster-header">personalized music recommendations</h1>
    <div class="poster-tagline"><input type="text"></div>
  </div>
<% end %>

<h2>Discover</h2>

<h3>Releases</h3>

<div class="matrix">
  <% @releases.each do |release| %>
    <%= render 'components/matrix-release', :release => release %>
  <% end %>
</div>

<h3>Groups</h3>

<div class="matrix">
  <% @groups.each do |group| %>
    <%= render 'components/matrix-group', :group => group %>
  <% end %>
</div>

<h3>Artists</h3>

<div class="matrix">
  <% @artists.each do |artist| %>
    <%= render 'components/matrix-artist', :artist => artist %>
  <% end %>
</div>
