<% content_for :title do %>Discover<% end %>

<h2>Discover</h2>

<div class="matrix">
  <% @releases.each do |release| %>
    <%= render 'components/matrix-cell', :release => release %>
  <% end %>
</div>
