<% content_for 'title' do %>Home<% end %>

<% content_for 'poster' do %>
  <div class="poster">
    <h1 class="poster-header">personalized music recommendations</h1>
    <h3 class="poster-tagline">headbanger lets you discover new artists and albums based on music you like</h3>
  </div>
<% end %>

<h2>Trending albums</h2>

<div class="block-list">
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
  <div class="block">
    <div class="block-image-wrapper">
      <a href="#">
        <img src="/assets/heroes-of-mighty-magic.jpg" class="block-image" alt="Heroes of Mighty Magic">
        <div class="block-image-overlay"></div>
      </a>
      <div class="block-image-actions">
        <a href="#"><i class="fa fa-heart-o not-liked"></i></a>
      </div>
    </div>
    <div class="block-title">
      <a href="#">Heroes of Mighty Magic</a>
    </div>
    <div class="block-description">
      <a href="#">Twilight Force</a>
    </div>
  </div>
</div>
