<header>
  <nav class="navbar navbar-dark p-t-1 p-b-1 ">
    <div class="container">
      <!-- Logo -->
      <%= link_to root_path, :class => 'navbar-brand brand-landing' do %>
        Headbanger
      <% end %>
    </div>
  </nav>

  <div class="container heading">
    <h1><strong>Heavy Metal</strong> recommendation platform</h1>
    <hr>
    <h4>We are launching soon. Leave us your email below, and we'll notify you the minute we launch.</h4>
    <hr>

    <!-- Begin MailChimp Signup Form -->
    <form action="//headbang.us14.list-manage.com/subscribe/post?u=05a67e2df64fda1926a7dc850&amp;id=63171e9699" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" class="inline" aria-hidden="true"><input type="text" name="b_05a67e2df64fda1926a7dc850_63171e9699" tabindex="-1" value=""></div>
      <div class="input-group">
        <input type="email" value="" name="EMAIL" class="form-control inline-block" id="mce-embedded-email" placeholder="Email" required>
        <div class="input-group-btn inline-block">
          <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="btn">
        </div>
      </div>
    </form>
    <!--End mc_embed_signup-->
  </div>
</header>

<div class="container m-t-3">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>About</h1>
      <hr>
      <div class="row">
        <div class="col-xs-4 text-center">
          <div class="features-box-icon"><i class="fa fa-eye"></i></div>
          <h3>Easy To Use</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
        <div class="col-xs-4 text-center">Two</div>
        <div class="col-xs-4 text-center">Three</div>
      </div>
    </div>
  </div>
</div>
