<nav class="navbar navbar-fixed-top navbar-dark m-t-2 navbar-landing">
  <div class="container">
    <!-- Logo -->
    <%= link_to root_path, :class => 'navbar-brand' do %>
        <i class="fa fa-headphones brand-logo"></i>
        <span class="brand-text">Headbanger</span>
    <% end %>

    <!-- Navigation -->
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get invited</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid container-landing">
  <div class="row flex-items-xs-middle">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag 'soth.png' %>
    </div>
  </div>
</div>
