<% content_for 'title' do %>Home<% end %>

<% content_for 'poster' do %>
  <div class="poster">
    <h1 class="poster-header">personalized music recommendations</h1>
    <h3 class="poster-tagline">headbanger lets you discover new artists and albums based on music you like</h3>
  </div>
<% end %>
