<% content_for 'title' do %>Trending<% end %>

<div class="content">
  <h2>Trending albums</h2>

  <div class="matrix">
    <%= render 'components/matrix-cell', :image_path => '/assets/covers/a-flame-to-the-ground-beneath.jpg', :album => 'A Flame To The Ground Beneath', :artist => 'Lost Horizon' %>
  </div>
</div>

<div class="content">
  <h2>Trending artists</h2>
</div>
