/**
 * searchbar.scss - Searchbar stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$searchbar-height: 50px;

.searchbar {
  @include link-color($primary-text-color, none);

  width: 100%;
  height: $searchbar-height;

  color: $primary-text-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  z-index: 20;

  div { height: 100%; }

  .left { margin-right: auto; }
  .right { margin-left: auto; }

  a {
    @include transition;

    align-items: center;
    display: flex;
    height: 100%;

    padding: $spacing-md $spacing-lg;

    &:hover { background-color: $color-searchbar-focus; }
  }

  .dropdown-menu {
    @include link-color(black, none);

    border-radius: $border-radius;
  }

  .search {
    position: relative;

    height: 100%;

    i {
      position: relative;
      right: -25px;
    }

    input[type="text"] {
      height: 50px;
      width: 250px;

      padding: $spacing-md;
      padding-left: 30px;

      border: 0;

      &:focus {
        background-color: $color-searchbar-focus;
        border: 0;
      }

      &::-webkit-input-placeholder  { font-style: italic; }
      &:-moz-placeholder  { font-style: italic; }
      &::-moz-placeholder  { font-style: italic; }
      &:-ms-input-placeholder  { font-style: italic; }
    }
  }

  &.inverse {
    color: white;

    input[type="text"],
    input[type="text"]:focus,
    a {
      background-color: transparent;
      color: white;

      outline: none;
    }

    ::-webkit-input-placeholder { color: white; }
    ::-moz-placeholder { color: white; } /* firefox 19+ */
    :-ms-input-placeholder { color: white; } /* ie */
    input:-moz-placeholder { color: white; }
  }
}
