/**
 * searchbar.scss - Searchbar stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.searchbar {
  @include link-color($primary-text-color, none);

  width: 100%;
  height: 50px;

  color: $primary-text-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div { height: 100%; }

  .left { margin-right: auto; }
  .right { margin-left: auto; }

  a {
    display: flex;
    align-items: center;
    height: 100%;

    padding: $spacing-md $spacing-lg;

    &:hover { background-color: $color-searchbar-focus; }
  }

  .dropdown-menu {
    @include link-color(black, none);

    border-radius: $border-radius;
  }

  .search {
    position: relative;

    height: 100%;

    i {
      position: relative;
      right: -25px;
    }

    input[type="text"] {
      height: 50px;

      padding: $spacing-md;
      padding-left: 30px;

      border: 0;

      &:focus { background-color: $color-searchbar-focus; }

      &::-webkit-input-placeholder  { font-style: italic; }
      &:-moz-placeholder  { font-style: italic; }
      &::-moz-placeholder  { font-style: italic; }
      &:-ms-input-placeholder  { font-style: italic; }
    }
  }
}
