.sidebar {
  @include link-color(white, none);

  padding: 0;

  height: 100vh;
  width: auto;

  background-color: $primary-background-color;
  color: $primary-text-color;

  @media(max-width: $screen-md-min) {
    width: 80px;

    text-align: center;
  }

  .brand {
    padding: $spacing-sm $spacing-lg;

    background-color: $primary-color;

    a { outline: none; }

    font-size: $text-xl;
    color: white;
  }

  nav {
    @include link-color(darken(white, 10%), none);

    padding: $spacing-lg 0;

    .section-head {
      padding: 0 $spacing-lg;
      margin-bottom: $spacing-sm;

      color: lighten(black, 50%);
    }

    ul { padding: 0; }

    ul li {
      list-style: none;

      a {
        display: inline-block;
        width: 100%;

        outline: none;

        padding: $spacing-md $spacing-xl;

        &:hover {
          background: rgba(255, 255, 255, .1);

          color: white;
        }
      }

      @media(max-width: $screen-md-min) {
        font-size: 125%;

        .fa { margin: 0; }
      }
    }
  }
}
