/**
 * branding.scss - Headbanger branding
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

.brand {
  font-family: 'Grand Hotel', sans-serif;
  font-size: 3em;

  margin: 1rem 0;

  @include link-color($color-primary, none);
}
