/**
 * footer.scss - Sticky footer
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */
footer {
  @include link-color($text-muted);

  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background: darken($color-background, 10%);

  text-align: center;

  i.fa-heart {
    color: $color-rating-liked;
  }
}
