/**
 * user.scss - User style
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */
.avatar {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.btn-notifications {
  width: 35px;
  height: 35px;

  line-height: 35px;

  border-radius: 50%;

  background-color: transparent;
  color: white;

  text-align: center;
  font-size: 1.2rem;

  &.unread {
    background-color: white;
    color: $color-primary;
  }
}
