@mixin link-color($color, $decoration-hover: underline) {
  a {
    text-decoration: none;
    color: $color;

    &:visited,
    &:focus,
    &:hover,
    &:active {
      text-decoration: $decoration-hover;
      color: $color;
    }
  }
}
