/**
 * Utilities
 *
 * */

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.fa {
  display: inline-block;
}

.m-r { margin-right: $spacing-sm; }
.m-l { margin-left: $spacing-sm; }
