/**
 * Utilities
 *
 * */

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.fa {
  display: inline-block;
  margin-right: $spacing-sm;
}
