/**
 * Utilities
 *
 * */

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.fa-spacing {
  margin-right: $spacing-sm;
}

.reset-spacing {
  margin: 0;
  padding: 0;
}
