/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$border-radius: .15em;
$blur-radius: 2px;

$primary-color: #F45A3D;
$secondary-color: #A5402D;
