/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$border-radius: .15em;

$primary-color: #F45A3D;
$primary-background-color: #474747;
$primary-text-color: #A3A3A3;

$secondary-color: #A5402D;
$secondary-text-color: #555;

$color-searchbar-focus: darken(white, 5%);

$spacing-unit: 1rem;
$text-unit: 1em;

$spacing-xs: .4  * $spacing-unit;
$spacing-sm: .5  * $spacing-unit;
$spacing-md: 1   * $spacing-unit;
$spacing-lg: 1.5 * $spacing-unit;
$spacing-xl: 3   * $spacing-unit;
$spacing-xxl: 4  * $spacing-unit;

$text-xs: .6  * $text-unit;
$text-sm: .75 * $text-unit;
$text-md: 1   * $text-unit;
$text-lg: 1.5 * $text-unit;
$text-xl: 2   * $text-unit;
$text-xxl: 4   * $text-unit;

$blur-radius: 2px;
