/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$border-radius: .15em;
$blur-radius: 2px;

$color-background: darken(white, 4%);

$color-primary: #F45A3D;
$color-primary-text: #A3A3A3;

$color-secondary: #A5402D;
