@import "variables";
@import "responsive";

@import "bootstrap";


@import "landing";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .m-b-2;
  font-weight: 600;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.wrapper {
  @extend .p-a-3;

  background: $bg-color;

  height: auto;
  min-height: 100%;
}

/**
 * Bootstrap tweaks
 *
 * */
.alert .close {
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: middle;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}
