@import "variables";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "utilities";

html,
body {
  font-family: 'Roboto';
  font-weight: 400;

  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  font-weight: 100;

  color: white;
}
