/**
 * application.scss - Main stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 *= require lato/scss/lato
 *= require hint/dist/hint
 *= require pt-sans/styles/pt_sans.css
 *= require fontawesome/scss/font-awesome
 *= require font-roboto/dist/styles/roboto.css
 *
 * */

@import "variables";

/** Bootstrap **/
$enable-flex: true;
$brand-primary: $color-primary;
$input-border-focus: $color-primary;
@import "bootstrap/scss/bootstrap";

@import "bootstrap-social/bootstrap-social.css";

$nprogress-color: $color-primary;
@import "nprogress";
@import "nprogress-bootstrap";
@import "nprogress-turbolinks5";

/** Views **/
@import "utilities";
@import "typography";

@import "components/branding";
@import "components/navbar";
@import "components/form";
@import "components/poster";
@import "components/user";

@import "views/content";

html,
body {
  background-color: $color-background;

  height: 100%;
}

/**
 * Overrides
 *
 * */
