@import "~uikit/src/scss/variables.scss";

html,
body {
  height: 100%;
}

#app {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: $global-muted-background;

  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}
