@import 'components/variables.scss';

/**
 * UIKit
 */
$global-link-color: $color-primary;
$global-primary-background: $color-primary;
$global-secondary-background: $color-secondary;
$global-font-family: Montserrat, Roboto, sans-serif;

@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';
@import 'uikit/src/scss/uikit-theme.scss';

/**
 * Global styles
 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

  background-color: $color-background;
}
