/**
 * Landing page
 *
 * */

.cover {
  width: 100%;
  padding: 15% 0;

  background-image: image-url('landing_background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  text-shadow: 1px 1px $text-shadow;

    h1 {
      font-family: 'Titillium Web', sans-serif;
      font-size: 4em;
      font-weight: 600;

      color: white;

      &:visited,
      &:active,
      &:focus,
      &:hover {
        color: rgba(255, 255, 255, 0.95);
        text-decoration: none;
      }
    }

    h4 {
      @extend .m-b-3;
      font-size: 1.5em;
      font-weight: 200;
    }

    a {
      text-shadow: none;

      &:not(.btn) {
        color: white;
        text-decoration: underline;

        &:visited,
        &:active,
        &:focus,
        &:hover {
          color: rgba(255, 255, 255, 0.95);
          text-decoration: underline;
        }
      }

      &.btn {
        border: none;
      }
  }
}

.cover-footer {
  width: 100%;
  height: 250px;

  background-image: image-url('landing_footer.jpg');

  .cover-text {
    padding: 4.5rem 0;
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px $text-shadow;
  }
}

.cover-content {
  @extend .m-b-3;

  .row {
    @extend .m-t-3;
  }

  img,
  .row {
    width: 100%;
  }

  h4 + p {
    color: $grey;

    text-align: justify;
  }
}

footer {
  padding: 2rem 3rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      font-weight: 600;

      & + li:before {
        /* &middot; */
        content: '\b7\a0';
      }
    }
  }
}
