/**
 * Variables
 *
 * */

$text-shadow: #797979;
$grey: #8E8E8E;
$light-grey: #D2D2D2;
$bg-color: #F1F1F1;

$primary-color: #DC3919;



/**
 * Bootstrap overrides
 *
 * */
$brand-primary: #F34541;
$input-border-focus: $brand-primary;
$border-radius: .15rem;
