/**
 * music/banner.scss - Banner stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$banner-height: 400px;

.banner {
  padding: 0;

  main { padding: 0; }
}

.music-banner {
  width: 100%;
  height: $banner-height;

  margin-top: -$searchbar-height;

  position: relative;

  background-image: image_url('twilight-force.jpg');
  background-size: cover;

  .music-banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));

    z-index: 2;
  }
}
