/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

/**
 * Colors
 */
$color-primary: #F45A3D;
$color-secondary: #A5402D;
$color-sidebar: #444444;
$color-background: #FAFAFA;
