<!DOCTYPE html>
<html ng-app="headbanger">
  <head>
    <title>Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <div class="col-xs-2 col-md-3 sidebar">
        <div class="brand">Headbanger</div>

        <div class="section-head">Discover</div>
        <ul>
          <li><a href="#whats-new"><i class="fa fa-music"></i> What's new</a></li>
          <li><a href="#by-genre"><i class="fa fa-music"></i> By genre</a></li>
          <li><a href="#by-country"><i class="fa fa-music"></i> By country</a></li>
          <li><a href="#by-label"><i class="fa fa-music"></i> By label</a></li>
        </ul>
      </div>

      <!-- Main content -->
      <div class="col-xs-10 col-md-9">
        <!-- Navbar -->

        <!-- Main content -->
        <main ng-view>
        </main>
      </div>
    </div>
  </body>
</html>
