<!DOCTYPE html>
<html ng-app="headbanger">
  <head>
    <title>Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="<%= asset_path('pt-sans/styles/pt_sans.css') %>">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-xs-2 col-md-3 sidebar">
          <div class="brand">
            <a href="/#/">
              <i class="fa fa-headphones fa-spacing"></i>
              <span class="hidden-xs">Headbanger</span>
            </a>
          </div>

          <nav>
            <div class="section-head">Discover</div>
            <ul>
              <li><a href="#whats-new"><i class="fa fa-fw fa-line-chart fa-spacing"></i> What's new</a></li>
              <li><a href="#by-genre"><i class="fa fa-fw fa-music fa-spacing"></i> By genre</a></li>
              <li><a href="#by-country"><i class="fa fa-fw fa-globe fa-spacing"></i> By country</a></li>
              <li><a href="#by-label"><i class="fa fa-fw fa-tag fa-spacing"></i> By record label</a></li>
            </ul>
            <div class="section-head">Account</div>
            <ul>
              <li><a href="#my-account"><i class="fa fa-fw fa-user fa-spacing"></i> My account</a></li>
              <li><a href="#preferences"><i class="fa fa-fw fa-gear fa-spacing"></i> Preferences</a></li>
              <li><a href="#sign-out"><i class="fa fa-fw fa-sign-out fa-spacing"></i> Sign out</a></li>
            </ul>
          </nav>
        </div>

        <!-- Main content -->
        <div class="col-xs-10 col-md-9 reset-spacing">
          <!-- Search bar -->
          <div class="searchbar">
            <span class="left search">
              <i class="fa fa-search fa-spacing"></i>
              <input type="text" placeholder="Search for artists or albums" />
            </span>
            <span class="right">
              <a href="#my-account">
                <i class="fa fa-user fa-spacing"></i> John Doe
              </a>
            </span>
          </div>

          <main ng-view>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
