<!DOCTYPE html>
<html ng-app="headbanger">
  <head>
    <title>Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="<%= asset_path('pt-sans/styles/pt_sans.css') %>">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-xs-2 col-md-3 sidebar">
          <div class="brand">
            <a href="/#/">
              <i class="fa fa-headphones"></i>
              <span class="hidden-xs hidden-sm">Headbanger</span>
            </a>
          </div>

          <nav>
            <div class="section-head">Discover</div>
            <ul>
              <li>
                <a href="#whats-new">
                  <i class="fa fa-fw fa-line-chart"></i> <span class="hidden-xs hidden-sm">What's new</span>
                </a>
              </li>
              <li>
                <a href="#by-genre">
                  <i class="fa fa-fw fa-music"></i> <span class="hidden-xs hidden-sm">By genre</span>
                </a>
              </li>
              <li>
                <a href="#by-country">
                  <i class="fa fa-fw fa-globe"></i> <span class="hidden-xs hidden-sm">By country</span>
                </a>
              </li>
              <li>
                <a href="#by-label">
                  <i class="fa fa-fw fa-tag"></i> <span class="hidden-xs hidden-sm">By record label</span>
                </a>
              </li>
            </ul>
            <div class="section-head">Account</div>
            <ul>
              <li>
                <a href="#my-account">
                  <i class="fa fa-fw fa-user"></i> <span class="hidden-xs hidden-sm">My account</span>
                </a>
              </li>
              <li>
                <a href="#preferences">
                  <i class="fa fa-fw fa-gear"></i> <span class="hidden-xs hidden-sm">Preferences</span>
                </a>
              </li>
              <li>
                <a href="#sign-out">
                  <i class="fa fa-fw fa-sign-out"></i> <span class="hidden-xs hidden-sm">Sign out</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Main content -->
        <div class="col-xs-10 col-md-9">
          <!-- Search bar -->
          <div class="searchbar">
            <span class="left search">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Search for artists or albums" />
            </span>
            <span class="right">
              <a href="#my-account">
                <i class="fa fa-user"></i> John Doe
              </a>
            </span>
          </div>

          <main ng-view>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
