<!DOCTYPE html>
<html ng-app="headbanger">
  <head>
    <title>Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="<%= asset_path('pt-sans/styles/pt_sans.css') %>">

  </head>
  <body ui-view>
  </body>
</html>
